.landing-page img {
  width: 80%;
  margin: 100px auto;
  height: 40%;
  max-width: 460px;
}

.landing-page {
  height: 89vh;
  padding: var(--space-big);
  display: flex;
  flex-direction: column;
}

.landing-page:nth-child(even) {
  flex-direction: column-reverse;
}

.landing-page p {
  margin-top: -30px;
  letter-spacing: 0.19em;
  font-size: var(--font-title-mobile);
  line-height: 35px;
  padding: var(--space-big);
  margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
  .landing-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    align-items: center;
  }
  .landing-page img {
    width: 100%;
    margin: 20px auto;
    height: 80%;
    max-width: 600px;
  }
  .landing-page:nth-child(even) {
    flex-direction: none;
  }

  .landing-page p {
    letter-spacing: 0.19em;
    font-size: var(--font-title-desktop);
    line-height: 35px;
    text-align: center;
    padding: var(--space-big);
  }
}
