.landing-page img {
  width: 80%;
  margin: 20px auto;
  height: 60%;
  max-width: 460px;
}

.landing-page {
  height: 89vh;
  padding: var(--space-big);
  display: flex;
  flex-direction: column;
}

.landing-page:nth-child(even) {
  flex-direction: column-reverse;
}

.landing-page p {
  letter-spacing: 0.19em;
  font-size: var(--font-title-mobile);
  line-height: 35px;
  padding: var(--space-big);
}

@media screen and (min-width: 960px) {
  .landing-page {
    flex-direction: row;
    align-items: center;
  }
  .landing-page:nth-child(even) {
    flex-direction: none;
  }
  .landing-page section {
    margin-left: 48px;
  }
  .landing-page p {
    letter-spacing: 0.19em;
    font-size: var(--font-title-desktop);
    line-height: 35px;
    text-align: center;
    padding: var(--space-big);
  }
}
