.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo-text {
  display: inline;
  transition: 600ms;
}
.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 0 0 1.5rem;
  color: var(--color-black);
  font-size: var(--font-title-desktop);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
.navbar {
  position: fixed;
  box-shadow: 2px -5px 15px 2px #dbdbdb;
  transition: width 200ms ease;
  z-index: 1000;
  background-color: var(--color-gray);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.navbar-nav li {
  width: 100%;
}
.navbar-nav li:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  border: none;
  background-color: var(--color-gray);
  cursor: pointer;
}

.link-text {
  display: none;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
}
